{% extends 'PasonWebchatBundle::layout.html.twig' %}

{% block  content %}

<div id="chatContent"></div>

	<div>
	
		<span id="status">Connecting...</span>	
		<input type="text" id="messageInput" disabled="disabled" />

	</div>


{% endblock %}