parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     webchat
    database_user:     root
    database_password: 

    domain: webchat.dev
    
    websocket: ws://127.0.0.1:8000
        
    locale:            pl
    secret:            ThisTokenIsNotSoSecretChangeIt
