@charset "UTF-8";

body {
	padding-top: 60px;
}

p {
	margin: 5px;
}

#chatContent {
	margin:10px;
	width:750px;
	height:400px;
	overflow:auto;
	border: 1px solid black;	
	float:left;
}

#chanels {
	margin-top:10px;
	height:400px;
	width:160px;
	overflow:auto;
	border: 1px solid black;
}

.content {
	width: 900px ;
  	margin-left: auto ;
  	margin-right: auto ;
	text-align: center ; 	
}

li.active {
	background-color: yellow;
}

#messageInput {
	width: 636px;
}